version: '3.8'

services:
  db:
    image: postgres:14-alpine
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_USER: api_user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: empregaAI_db
    volumes:
      - db-data:/var/lib/postgresql/data

  backend:
    build: 
      context: ./backend
    container_name: empregaAI_backend
    depends_on:
      - db
    ports:
      - "8080:8080"
    environment:
      DB_HOST: db
      DB_USER: api_user
      DB_PASSWORD: password
      DB_NAME: empregaAI_db

  frontend:
    build: 
      context: ./frontend
    container_name: empregaAI_frontend
    depends_on:
      - backend
    ports:
      - "80:80"
volumes:
  db-data:
